@font-face {
  src: url("../font/Raleway-Regular.ttf") format("truetype");
  font-family: 'raleway'; }
* {
  padding: 0;
  margin: 0;
  font-family: Arial, raleway, Tahoma;
  font-size: 11pt;
  line-height: 1.7;
  color: black; }

/* Essentials */
html, div, map, dt, isindex, form, header, aside, section, section, article, footer {
  display: block; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  background: #F8F8F8;
  font-size: 12px;
  color: #666;
  line-height: 1.4; }

h3 {
  margin: 0;
  padding: 0;
  font-weight: normal; }

a {
  color: #21C2F8;
  text-decoration: none; }

a:hover {
  color: #000; }

.clear {
  clear: both; }

.spacer {
  height: 20px; }

.wrapper {
  height: 100%;
  margin: 0 auto;
  width: 100%; }

/*------------------------------------------------
** MODULE
**------------------------------------------------*/
.module {
  border: 0 none;
  margin: 0 0 10px;
  padding: 0; }
  .module .moduletitle {
    height: 35px;
    padding: 10px 0 0 10px;
    background: #21C2F8;
    color: white;
    font-family: 'Cafeta';
    font-size: 14pt; }
  .module .modulecontent {
    padding: 5px;
    text-align: left; }

/*------------------------------------------------
** HEADER
**------------------------------------------------*/
#header {
  margin: 0;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 99;
  background: white;
  width: 100%; }
  #header .logo {
    float: left;
    margin: 7px 0 0 0;
    width: 25%;
    text-align: right;
    position: relative;
    height: 100%; }
    #header .logo a {
      float: right;
      display: block;
      width: 55%;
      position: relative;
      height: 100%;
      bottom: 30px; }
    #header .logo img {
      width: 100%;
      margin: 15px 0 0 0;
      position: absolute;
      bottom: 0;
      left: 0; }
  #header #menu {
    float: left;
    height: 50px;
    width: 50%;
    margin: 40px 0 0 0; }
    #header #menu .module {
      border: 0 none;
      margin: 0;
      padding: 0; }
      #header #menu .module .modulecontent {
        background: none;
        padding: 0; }
  #header .social {
    position: absolute;
    right: 1%;
    top: 62px; }
    #header .social .ico_fb {
      float: right;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url(../images/icon_fb.png) no-repeat center/100%;
      opacity: 0.7;
      cursor: pointer; }
    #header .social .ico_fb:hover {
      opacity: 1; }
    #header .social .ico_be {
      float: right;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url(../images/icon_be.png) no-repeat center/100%;
      opacity: 0.7;
      cursor: pointer; }
    #header .social .ico_be:hover {
      opacity: 1; }
    #header .social .ico_mail {
      float: right;
      display: block;
      width: 27px;
      height: 20px;
      background: url(../images/icon_mail.png) no-repeat left/auto 100%;
      opacity: 0.7;
      cursor: pointer; }
    #header .social .ico_mail:hover {
      opacity: 1; }

/*------------------------------------------------
** MENU
**------------------------------------------------*/
.menu-navigation {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  width: 100%;
  float: right; }
  .menu-navigation ul.menunav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px; }
    .menu-navigation ul.menunav li {
      float: right;
      position: relative;
      margin: 0;
      height: 50px; }
      @media only screen and (max-width: 615px) {
        .menu-navigation ul.menunav li {
          width: 49%; } }
      .menu-navigation ul.menunav li.active a {
        color: black;
        font-weight: bold; }
      .menu-navigation ul.menunav li a {
        display: block;
        padding: 30px 0 0px 25px;
        height: 25px;
        text-align: right;
        color: #6F6F6F;
        font-weight: normal;
        font-size: 12pt;
        text-transform: lowercase; }
        .menu-navigation ul.menunav li a:hover {
          color: black; }
      .menu-navigation ul.menunav li ul {
        display: none;
        height: auto; }
        .menu-navigation ul.menunav li ul li {
          width: 100%;
          border-bottom: 1px solid white; }
      .menu-navigation ul.menunav li:hover ul {
        font-size: 13px;
        display: block;
        position: absolute;
        top: 40px;
        min-width: 150px;
        left: 0;
        z-index: 99;
        background: #1A82D7;
        border-radius: 3px;
        text-align: center;
        padding: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
        .menu-navigation ul.menunav li:hover ul li a {
          display: block;
          width: 175px;
          text-align: left;
          background: none;
          color: white; }
          .menu-navigation ul.menunav li:hover ul li a:hover {
            background: #1878C7; }

/*------------------------------------------------
** MAIN-CONTENT
**------------------------------------------------*/
#main-body {
  min-height: 300px;
  position: absolute;
  top: 80px;
  width: 100%; }

#main-content #center {
  margin: 0;
  width: 100%; }

/*------------------------------------------------
** News
**------------------------------------------------*/
.news .item {
  float: left;
  width: 100%;
  padding: 10px 0; }
  .news .item .image {
    float: left;
    margin: 0 10px 10px 0; }
    .news .item .image img {
      width: 150px;
      min-height: 100px;
      border: 0; }
  .news .item h3 .title {
    font-size: 16pt;
    font-family: 'Cafeta';
    color: #21C2F8; }
.news .description {
  text-align: justify; }
.news .content {
  text-align: justify; }
.news .hit {
  text-align: right; }
.news .published {
  text-align: right;
  padding: 0 0 10px 0;
  color: #ccc; }
.news .line {
  /*float: left;
  margin: 10px 0 10px 50px;
  width: 80%;
  height: 1px;
  background: #ccc;*/ }

/*------------------------------------------------
** Custom
**------------------------------------------------*/
.custom img {
  width: 100%;
  margin: 0 0 10px 0; }

/*------------------------------------------------
** FOOTER
**------------------------------------------------*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding: 5px 0; }
  #footer:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 1s ease-in-out; }
  #footer #copyright {
    margin: 0 1% 0 7%; }
  #footer p {
    color: #78A1B9;
    font-size: 11pt; }
  #footer .ico_share {
    float: right;
    display: block;
    width: 28px;
    height: 24px;
    margin: -25px 0 0 0;
    background: url(../images/icon_share.png) no-repeat center/100% auto;
    cursor: pointer; }
    #footer .ico_share:hover {
      background: url(../images/icon_share_hover.png) no-repeat center/100% auto; }

/*================================
    PAGING
================================*/
.pagination {
  margin: 20px auto 10px;
  text-align: center;
  padding: 0; }
  .pagination ul.paging {
    padding: 0;
    margin: 0; }
    .pagination ul.paging li {
      display: inline-block; }
      .pagination ul.paging li .page {
        font: 14px/24px sans-serif;
        display: inline-block;
        padding: 0px 9px;
        margin-right: 4px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: .875em;
        font-weight: bold;
        text-decoration: none;
        color: #717171;
        text-shadow: 0px 1px 0px white; }
        .pagination ul.paging li .page:hover, .pagination ul.paging li .page.gradient:hover {
          background: #fefefe;
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
          background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0); }
        .pagination ul.paging li .page.active {
          border: none;
          background: #616161;
          box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8);
          color: #f0f0f0;
          text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
        .pagination ul.paging li .page.gradient {
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
          background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9); }
  .pagination .limit {
    margin: 10px auto; }
    .pagination .limit select {
      border-radius: 3px;
      min-width: 50px; }

/*# sourceMappingURL=style.css.map */
