.menu-navigation{
	padding: 0;
	margin: 0;
	background: transparent;
	border: 0;
	width: 100%;
	float: right;
	ul.menunav{
	    padding: 0; 
	    margin: 0; 
	    list-style: none;
	    height: 50px;
		li{
		    float: right;
		    position:relative;
		    margin: 0;
		    height: 50px;					    
			@media only screen and (max-width: 615px) {	
				width: 49%;
			}
			&.active a{
				color: #fff;
				font-weight: bold;
			}
			a{				
			    display:block;
			    padding: 30px 0 0px 25px;
				/*height: 25px;*/
			    text-align: right;
			    color: #6f6f6f;
			    font-weight: normal;
			    font-size: 12pt;
				text-transform: lowercase;				
				webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
			    &.transparent{
    				color: black;
			    }
				&:hover{
    				color: #fff;
				}
			}
			ul{
			    display: none;
			    height: auto;
				li{
					width: 100%;
					border-bottom: 1px solid white;
				}
			}
			&:hover {
				ul { 
				    font-size:13px; 
				    display:block; 
				    position:absolute; 
				    top:40px; 
				    min-width:150px; 
				    left:0;
				    z-index: 99;
				    background: #1A82D7;
					border-radius: 3px;
					text-align: center;
					padding: 0;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
					li a {
					    display:block;
					    width:175px; 
					    text-align:left;
					    background: none;
					    color: white;
					    &:hover {
						    background: #1878C7;
						}
					}
				}
			}
		}
	}
}


