$color_text: 	#666;
$color_a: 		#21C2F8;
$color_a_hover: #000;
$color_page:	#21C2F8;

@font-face { 
	src: url('../font/Raleway-Regular.ttf') format('truetype');
	font-family: 'raleway';
}
*{
	padding: 0;
	margin: 0;
	font-family: Arial, raleway, Tahoma;
	font-size: 11pt;
	line-height: 1.7;
	color: black;
}
/* Essentials */
html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F8F8F8;
	font-size: 12px;
	color: $color_text;
	line-height: 1.4;
}
h3{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a{
    color: $color_a;
    text-decoration: none;
}
a:hover {
    color: $color_a_hover;
}
.clear{
    clear: both;
}
.spacer {
	height: 20px;
}
.wrapper{
	height: 100%;
    margin: 0 auto;
    width: 100%;
}

/*------------------------------------------------
** MODULE
**------------------------------------------------*/
.module{
	border: 0 none;
    margin: 0 0 10px;
    padding: 0;
	.moduletitle{
		height: 35px;
		padding: 10px 0 0 10px;
		background: $color_page;
		color: white;
		font-family: 'Cafeta';
		font-size: 14pt;
	}
	.modulecontent{    
		padding: 5px;
    	text-align: left;
	}
}

/*------------------------------------------------
** HEADER
**------------------------------------------------*/
#header{
	margin: 0;
	height: 110px;
	position: fixed;
	top: 0;
	z-index: 99;
	background: white;
	width: 100%;
	.logo{
		float: left;
		margin: 7px 0 0 0;
		width: 25%;
		text-align: right;
		position: relative;
		height: 100%;
		a{
			float: right;
			display: block;
			width: 55%;
			position: relative;
			height: 100%;
			bottom: 30px;
		}
		img{
			width: 100%;
			margin: 15px 0 0 0;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	#menu{
		float: left;
		height: 50px;
		width: 50%;
		margin: 40px 0 0 0;
		.module{
		    border: 0 none;
		    margin: 0;
		    padding: 0;
		    .modulecontent {
			    background: none;
			    padding: 0;
			}
		}
	}
	.social{
		position: absolute;
		right: 1%;
		top: 62px;
		.ico_fb{
			float: right;
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background: url(../images/icon_fb.png) no-repeat center / 100%;
			opacity: 0.7;
			cursor: pointer;
		}
		.ico_fb:hover{
			opacity: 1;
		}
		.ico_be{
			float: right;
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			background: url(../images/icon_be.png) no-repeat center / 100%;
			opacity: 0.7;
			cursor: pointer;
		}
		.ico_be:hover{
			opacity: 1;
		}
		.ico_mail{
			float: right;
			display: block;
			width: 27px;
			height: 20px;
			background: url(../images/icon_mail.png) no-repeat left / auto 100%;
			opacity: 0.7;
			cursor: pointer;
		}
		.ico_mail:hover{
			opacity: 1;
		}
	}
}

/*------------------------------------------------
** MENU
**------------------------------------------------*/
@import "menunav";

/*------------------------------------------------
** MAIN-CONTENT
**------------------------------------------------*/

#main-body {
    min-height: 300px;
    position: absolute;
    top: 80px;
    width: 100%;
}
#main-content {
	#center{    
		margin: 0;
    	width: 100%;
	}
}

/*------------------------------------------------
** News
**------------------------------------------------*/
.news{
	.item{
		float: left;
		width: 100%;
		padding: 10px 0;
		.image{
			float: left;
			margin: 0 10px 10px 0;
			img{
				width: 150px;
				min-height: 100px;
				border: 0;
			}
		}
		h3{
			.title{
				font-size: 16pt;
				font-family: 'Cafeta';
				color: $color_page;
			}
		}
	}
	.description{
		text-align: justify;
	}
	.content{
		text-align: justify;
	}
	.hit{
		text-align: right;
	}
	.published{
		text-align: right;
		padding: 0 0 10px 0;
		color: #ccc;
	}
	.line{
		/*float: left;
		margin: 10px 0 10px 50px;
		width: 80%;
		height: 1px;
		background: #ccc;*/
	}
}

/*------------------------------------------------
** Custom
**------------------------------------------------*/
.custom{
	img{
		width: 100%;
		margin: 0 0 10px 0;
	}
}

/*------------------------------------------------
** FOOTER
**------------------------------------------------*/
#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 35px;
	padding: 5px 0;
	&:hover{
		background-color: rgba(0, 0, 0, .5);
		transition: background-color 1s ease-in-out;
	}
	#copyright{
		margin: 0 1% 0 7%;
	}
	p{
		color: #78A1B9;
		font-size: 11pt;
	}
	.ico_share{
		float: right;
		display: block;
		width: 28px;
		height: 24px;
		margin: -25px 0 0 0;
		background: url(../images/icon_share.png) no-repeat center / 100% auto;
		cursor: pointer;
		&:hover{
			background: url(../images/icon_share_hover.png) no-repeat center / 100% auto;
		}
	}
}

/*================================
    PAGING
================================*/
@import "paging";
